/* COLOR BLOCK
White: #ffffff
Orange: #d98e02
Brown: #7f4f21
Faded Black: #19191a
Dark Grey: #333333;
Black: #000000;
Menu: #4f4c4d
Blue: #01306f;
*/

@font-face {
  font-family: 'Rockwell';
  src: url('../src/fonts/Rockwell/RockwellStd.otf') format('opentype');
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #ffffff;
  font-size: 13px;
  font-family: Rockwell;
  overflow-x: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  
  height: 3780px;
  width: 100%;
}

.header {
  position: relative;
  background-color: #ffffff;
  height: 1.91283%;
}

.main {
  position: relative;
  background-color: #93bad4;
  height: 10.38741%;
}

.news {
  position: relative;
  background-color: #1383b4;
  height: 6.85956%;
}

.products {
  position: relative;
  background-color: pink;
  height: 22.15981%;
  background-image: url('../img/oats-products3.jpg');
  background-repeat: no-repeat;
  background-size: 2100px;
  background-position: 52% 45%;
}

.protocol {
  position: relative;
  background-color: #fffbf2;
  height: 15.98452%;
}

.protocol a {
  margin: 0 auto;
}

.protocol img {
  overflow: hidden;
  position: absolute;
  width: 940px;
  height: 550px;
  left: 50%;
  right: 50%;
  margin: 10px 0 0 -470px;
}

.contact {
  position: relative;
  background-color: skyblue;
  height: 13.83777%;
  background-image: url('../img/oats-contact2.jpg');
  background-repeat: no-repeat;
  background-size: 1160px; 
  background-position: 57% 24%;
}

.info {
  position: relative;
  background-color: blue;
  height: 9.26150%;
  background-image: url('../img/oats-info.jpg');
  background-repeat: no-repeat;
  background-size: 1300px; 
  background-position: 28% 88%;
}

.about {
  position: relative;
  background-color: black;
  height: 20.03874%;
  background-image: url('../img/oats-about.jpg');
  background-repeat: no-repeat;
  background-size: 1300px;
  background-position: 90% 22%;
}

/* HEADER SECTION */
.header-logo img {
  position: absolute;
  width: 311px;
  height: 60px;
  left: 5.29167%;
  padding-top: 3px;
}

.header-menu {
  position: absolute;
  color: #53453d;
  font-size: 150.69230%;
  font-weight: bold;
  right: 7.29167%;
  top: 33.03797%;
}

/* MAIN SECTION */
.main-top {
  height: 5px;
  background-color: #93bad4;
}

.main .wrapper {
  width: 100%;
  height: 98.83450%;
  background-image: url('../img/main-left.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main-left {
  position: absolute;
  width: 494px;
  height: 424px;
  left: 50%;
  top: 50%;
  margin: -212px 0 0 -480px;
  text-align: center;
}

.main-left img {
  width: 378px;
  height: 110px;
  margin-top: 50px;
  text-align: center;
}

.main-left .main-title p {
  color: #19191a;
  font-size: 261.53846%;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1em;
}

.main-left .main-title h4 {
  color: #d98e02;
  font-size: 132.30769%;
  margin-top: 32px;
  letter-spacing: 0.28em;
}

.main-right {
  position: absolute;
  width: 494px;
  height: 390px;
  left: 50%;
  top: 50%;
  padding: 0;
  margin: -191px 0 0 19px;
  background-image: url('../img/loop.gif');
  background-repeat: no-repeat;
}

/* NEWS SECTION */
.news-centre {
  position: absolute;
  width: 735px;
  height: 132px;
  left: 50%;
  top: 50%;
  margin: -45px 0 0 -357.5px;
}

.news-centre ul {
  padding: 0 0;
  margin: 0 0;
  font-size: 238.46153%;
  font-weight: bold;
}

.news-centre ul li {
  font-family: verdana;
  font-size: 64.51612%;
  margin-left: 1.68473%;
  font-weight: normal;
}

.news-centre ul li:nth-child(1) {
  padding-bottom: 10px;
}

.news .social {
  position: absolute;
  width: 400px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -110px 0 0 250px;
}

.news .social table td {
  font-family: FontAwesome;
  font-size: 550%;
  padding-right: 10px;
  cursor: pointer;
}

.news .social table td a {
  color: #ffffff;
}

.news .social table td a,
.news .social table td a:visited,
.news .social table td a:hover, 
.news .social table td a:focus,
.news .social table td a:active {
    text-decoration: none;
}

.news .social table td .fa-facebook-square:hover {
  color: #3b5998;
}

.news .social table td .fa-twitter-square:hover {
  color: #00aced;
}

.news .social table td .fa-pinterest-square:hover {
  color: #cb2027;
}

/* PRODUCTS SECTION */
.products-top {
  position: absolute;
  width: 856px;
  height: 552px;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  margin: -390px 0 0 -428px;
}

.products-top .logo {
  position: absolute;
  width: 170px;
  height: 57px;
}

.products-top h3 {
  display: inline-block;
  color: #01306f;
  font-size: 215.384612%;
  padding-top: 7px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 0;
  margin-top: 0.5%;
  margin-left: 20.5%;
}

.products-top .locator {
  float: right;
  margin-top: -35px;
}

.products-top .locator img {
  width: 110px;
  height: 140px;
}

.products-top ul {
  float: left;
  color: #333333;
  font-size: 169.23077%;
  width: 740px;
  padding: 0;
  margin: 0;
  padding-top: 11px;
  list-style: none;
}

.products-top .sub {
  display: flex;
  justify-content: space-between;
}

.products-top .products-table {
  position: absolute;
  top: 17.33333%;
  width: 85.41667%;
  margin-top: 40px;
}

.products-top .products-table tr div {
  text-align: center;
  vertical-align: center;
}

.products-top .products-table tr:nth-child(even) div {
  text-align: center;
  color: #000000;
  font-weight: bolder;
}

.products-middle {
  position: absolute;
  width: 210px;
  height: 212px;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  margin: 225px 0 0 -420px;
}

.products-bottom {
  position: absolute;
  width: 188px;
  height: 144px;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  margin: 280px 0 0 270px;
}

.products-bottom img {
  display: block;
}

.products-bottom .sec {
  position: absolute;
  right: 10%;
  padding-top: 2px;
}

/* CONTACT SECTION */
.contact .center {
  position: absolute;  
  width: 834px;
  height: 480px;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  margin: -240px 0 0 -487px;
}

.contact .center .top {
  width: 820px;
  float: left;
  margin-bottom: 25px;
}

.contact .center .top p {
  font-size: 239.23077%;
  font-weight: bold;
  padding: 12px 28px 4px 50px;
}

.contact .center .bottom {
  float: left;
  font-size: 200.23077%;
  line-height: 1.4em;
  width: 300px;
  height: 208px;
  position: relative;
  bottom: 40px;
  left: 10px;
  font-weight: bold;
}

.contact .center .bottom ul .list {
  padding-left: 20px;
}

.contact .center .bottom ul li {
  width: 300px;
  padding-left: 20px;
}

.contact .center .bottom ul li a {
  text-decoration: none;
  color: inherit;
}

/* INFO SECTION */
.info .wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  color: black;
}

.info .gather {
  position: absolute;
  width: 834px;
  height: 308px;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  margin: -184px 0 0 -467px;
}

.info .wrapper .title {
  width: 499px;
  height: 70px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.info .wrapper .title p {
  font-size: 369.23077%;
  padding: 12px 28px 4px 28px;
  border: 1px solid #000000;
}

.info .wrapper .left {
  position: absolute;
  left: 5.18333%;
  top: 36.32877%;
  width: 396px;
  height: 200px;
  font-size: 184.61538%;
  line-height: 1.6em;
}

.info .wrapper .right {
  position: absolute;
  left: 51.83333%;
  top: 36.32877%;
  width: 450px;
  height: 140px;
  font-size: 184.61538%;
  line-height: 1.6em;
}

.info .wrapper .right ul li:nth-child(3) {
  line-height: 1.3em;
}

.info .wrapper .left ul li span,
.info .wrapper .right ul li span {
  position: relative;
  left: 20px;
}

.info .wrapper ul li a {
  text-decoration: none;
  color: inherit;
}

.info .wrapper img {
  position: relative;
  float: right;
  right: -6%;
  bottom: -37%;
  width: 224px;
  height: 64px;
}

/* ABOUT SECTION */
.about-us {
  position: absolute;
  top: 46.68085%;
  left: 6.33333%;
  right: 50%;
  width: 50%;
}

.about table, th, td {
  text-align: left;
}

.about table tr th div {
  overflow: hidden;
  height: 45px;
}

.about table tr td > div {
  overflow: hidden;
  height: 40px;
}

.about table tr th {
  font-size: 369.23077%;
  font-weight: normal;
  padding-bottom: 20px;
  vertical-align: top !important;
}

.about table tr th div {
  width: 211px;
  border: 1px solid white;
  padding: 8px 20px 12px 25px;
  background-color: rgba(0, 0, 0, 0.3);
}

.about table tr td {
  font-size: 169.23077%;
  font-weight: bold;
  vertical-align: middle !important;
}

.about table tr td a:hover,
.about table tr td a:visited,
.about table tr td a:link,
.about table tr td a:active {
  text-decoration: none;
  color: #ffffff;
}

.about table tr td img {
  position: relative;
  top: 6px;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 1161px) {
  .contact {
    background-size: cover;
  }
}

@media only screen and (min-width: 1301px) {
  .info,
  .about {
    background-size: cover;
  }
}

@media only screen and (min-width: 1551px) {
  .protocol {
    background-size: cover;
  }
}

@media only screen and (min-width: 2101px) {
  .products {
    background-size: cover;
  }
}