/* COLOR BLOCK
White: #ffffff
Orange: #cd480b
Grey: #53453d;
Brown: #7f4f21
Black: #403124
Menu: #4f4c4d
*/

@font-face {
  font-family: 'Rockwell';
  src: url('../src/fonts/Rockwell/RockwellStd.otf') format('opentype');
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #ffffff;
  font-size: 13px;
  font-family: Rockwell;
  overflow-x: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  
  height: 4427px;
  width: 100%;
}

.header {
  position: relative;
  background-color: #ffffff;
  height: 1.91422%;
}

.news {
  position: relative;
  background-color: gold;
  height: 6.90032%;
  background-image: url('../img/news.jpg');
  background-repeat: no-repeat;
  background-size: 1800px;
  background-position: 77% 53%;
  z-index: -1; 
}

.about {
  position: relative;
  background-color: green;
  height: 16.49289%;
  background-image: url('../img/about.jpg');
  background-repeat: no-repeat;
  background-size: 1235px; 
  background-position: 6% 75%;
}

.bulk {
  background-color: pink;
  height: 10.61304%;
  background-image: url('../img/bulk.jpg');
  background-repeat: no-repeat;
  background-size: 1400px; 
  background-position: 45% 43%;
}

.protocol {
  position: relative;
  background-color: grey;
  height: 24.98452%;
  background-image: url('../img/protocol.jpg');
  background-repeat: no-repeat;
  background-size: 2350px; 
  background-position: 40% 0%;
}

.protocol-sub {
  position: relative;
  background-color: #fffbf2;
  height: 13.98452%;
}

.protocol-sub a {
  margin: 0 auto;
}

.protocol-sub img {
  overflow: hidden;
  position: absolute;
  width: 1030px;
  height: 600px;
  left: 50%;
  right: 50%;
  margin: 0px 0 0 -515px;
}

.learn {
  position: relative;
  background-color: skyblue;
  height: 15.98452%;
  background-image: url('../img/learn.jpg');
  background-repeat: no-repeat;
  background-size: 2700px; 
  background-position: 100% 38%;
}

.contact {
  position: relative;
  background-color: blue;
  height: 9.15920%;
  background-image: url('../img/contact.jpg');
  background-repeat: no-repeat;
  background-size: 1160px; 
  background-position: 47% 53%;
}

/* HEADER SECTION */
.header-logo img {
  position: absolute;
  width: 311px;
  height: 60px;
  left: 5.29167%;
  padding-top: 3px;
}

.header-menu {
  position: absolute;
  font-size: 150.69230%;
  font-weight: bold;
  right: 7.29167%;
  top: 33.03797%;
  word-wrap: break-word;
}

.header-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.header-menu ul li {
  display: inline-block;
}

.header-menu ul li a {
  display: block;
  padding: 0 10px;
  color: #53453d;
  text-decoration: none;
}

.header-menu .menu {
  height: 60px;
}

.header-menu ul ul {
  display: none;
  position: absolute;
  top: 60px;
  right: -48px;
  text-align: center;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.4);
}

.header-menu ul li:hover > ul {
  display: inherit;
  transition: 0.5s;
}

.header-menu ul ul li {
  width: 180px;
  padding: 7px 0;
  float: none;
  display: list-item;
  position: relative;
}

.header-menu ul ul li:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transition: 0.5s;
}

.header-menu ul ul li a:hover {
  color: #3a302a;
}

li > .menu:before {
  font-family: FontAwesome;
  content: '\f0c9';
}

/* NEWS SECTION */
.news .wrapper {
  background-color: rgba(48, 21, 21, 0.42);
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.news .news-gather {
  position: absolute;
  width: 900px;
  height: 172px;
  left: 50%;
  top: 50%;
  margin: -89px 0 0 -460px;
  text-align: left;
}

.news-title {
  position: absolute;
  top: 20.45291%;
  left: 7.29167%;
  right: 7.29167%;
  width: 85.375%;
}

.news-title ul {
  padding: 0 0;
  margin: 0 0;
  font-size: 369.230769%;
  font-weight: bold;
}

.news-title ul li {
  width: 834px;
  font-size: 54.16667%;
  margin-left: 2.68473%;
  font-weight: normal;
}

/* ABOUT SECTION */
.about-us {
  position: absolute;
  top: 43.68085%;
  left: 6.33333%;
  right: 50%;
  width: 50%;
}

.about table, th, td {
  text-align: left;
}

.about table tr th div {
  overflow: hidden;
  height: 45px;
  margin-bottom: 20px;
}

.about table tr td > div {
  overflow: hidden;
  height: 40px;
}

.about table tr th {
  font-size: 369.23077%;
  font-weight: bold;
}

.about table tr th div {
  width: 211px;
  border: 1px solid white;
  padding: 10px 20px 10px 20px;
  text-align: center;
}

.about table tr td {
  font-size: 169.23077%;
  font-weight: bold;
  vertical-align: middle !important;
}

.about table tr td a:hover,
.about table tr td a:visited,
.about table tr td a:link,
.about table tr td a:active {
  text-decoration: none;
  color: #ffffff;
}

.about table tr td img {
  position: relative;
  top: 6px;
}

/* BULK SECTION */
.bulk p {
  position: relative;
  color: #7f4f21;
  font-size: 384.61538%;
  font-weight: bold;
  text-align: center;
  bottom: 20px;
}

/* PROTOCOL SECTION */
.protocol .top {
  position: absolute;
  width: 800px;
  height: 524px;
  left: 50%;
  top: 50%;
  margin: -550px 0 0 -420px;
}

.protocol .top ul {
  font-size: 195%;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
  width: 770px;
  left: 45px;
  text-align: center;
  vertical-align: center;
}

.protocol .top ul li div:before {
  content: "";
  padding-left: 33px;
  padding-bottom: 4px;
}

.protocol .top ul li {
  text-align: left;
}

.protocol .top ul li .fa-circle {
  font-size: 40%;
  margin-right: 40px;
}

.protocol .top ul li a {
  color: #ffffff;
  text-decoration: none;
}

.protocol .top ul li:nth-child(1) ,
.protocol .top ul li:nth-child(4) ,
.protocol .top ul li:nth-child(7) ,
.protocol .top ul li:nth-child(9) {
  margin-top: 40px;
}

.protocol .top ul li a:hover,
.protocol .top ul li a:visited,
.protocol .top ul li a:link,
.protocol .top ul li a:active {
  text-decoration: none;
  color: #ffffff;
}

.protocol .heart {
  position: absolute;
  width: 300px;
  top: 128%;
  right: 57%;
}

.protocol .heart table td {
  width: 80px;
  padding-bottom: 23px;
  text-align: center;
}

.protocol .heart table tr img {
  width: 80px;
  height: 80px;
}

.protocol .heart table tr:nth-child(1) td:nth-child(1) img {
  padding-bottom: 20px;
}

.protocol .heart table tr:nth-child(1) td:nth-child(2) img {
  height: 100px;
  width: 100px;
}

.protocol .heart table tr:nth-child(1) td:nth-child(3) img {
  height: 70px;
  width: 70px;
  text-align: left;
}

.protocol .heart table tr:nth-child(2) td:nth-child(3) img {
  height: 110px;
  width: 110px;
  text-align: left;
}

/* LEARN SECTION */
.learning-centre {
  position: absolute;
  color: #403124;
  right: 3.54167%;
  top: 15.17976%;
}

.learn table tr th div {
  overflow: hidden;
  height: 60px;
}

.learn table tr td > div {
  overflow: visible;
  height: 40px;
}

.learn table tr th {
  font-size: 369.23077%;
  font-weight: bold;
  padding-bottom: 40px;
  text-align: center;
  vertical-align: top !important;
}

.learn table tr th div {
  width: 378px;
  border: 1px solid #403124;
  padding: 14px 14px 0 14px;
  margin-right: 50px;
}

.learn table tr td div {
  margin-left: 40px;
}

.learn table tr td {
  font-size: 199.69231%;
  font-weight: bold;
  vertical-align: middle !important;
  text-indent: -20px;
}

.learn table tr td a:hover,
.learn table tr td a:visited,
.learn table tr td a:link,
.learn table tr td a:active {
  text-decoration: none;
  color: #403124;
}

.learn table tr td:nth-child(1) .fa-circle {
  font-size: 35%;
  vertical-align: middle;
  margin-right: 12px;
}

/* LEARN SECTION - MODAL */
.learn .modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.learn .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 70%;
  height: 55vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.learn .close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.learn .close:hover,
.learn .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.learn .modal-header {
  padding: 2px 16px;
  background-color: #87CEEB;
  color: white;
}

.learn .modal-header h2 {
  font-size: 250%;
  padding-left: 40px;
}

.learn .modal-body {
  padding: 2px 16px;
}

.learn .modal-body form {
  max-width: 50%;
  text-align: center;
  margin: 20px auto;
}

.learn .modal-body input, 
.learn .modal-body textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  resize: none;
  box-shadow: 0 1px 1px rgba(1, 1, 1, 0.1);
  font-size: 140%;
}    

.learn .modal-body textarea {
  height: 15vh;
}

.learn .modal-body .submit {
  color: white; 
  background-color: #87CEEB;
  cursor: pointer;
  width: 30%;
  margin: 30px auto;
}

.learn .modal-body .submit:hover {
  background-color: #93d2ed;
}

/* CONTACT SECTION */
.contact-us {
  position: absolute;
  color: #403124;
  left: 7.60417%;
  top: 19.84127%;
}

.contact table tr th div {
  overflow: hidden;
  height: 45px;
  width: 280px;
  border: 1px solid #403124;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 10px;
}

.contact table tr td > div {
  overflow: visible;
  height: 45px;
  width: 320px;
}

.contact table tr th {
  font-size: 369.23077%;
  font-weight: bold;
  padding-bottom: 30px;
  vertical-align: top !important;
}

.contact table tr td {
  font-size: 199.69231%;
  font-weight: bold;
  vertical-align: middle !important;
}

.contact table tr td:nth-child(1) {
  width: 310px;
}

.contact table tr td a:hover,
.contact table tr td a:visited,
.contact table tr td a:link,
.contact table tr td a:active {
  text-decoration: none;
  color: #403124;
}

.contact table tr td:nth-child(1) .fa-circle,
.contact table tr td:nth-child(2) .fa-circle{
  font-size: 35%;
  vertical-align: middle;
  margin-right: 19px;
}

.contact .fa-twitter:hover {
  color: #4099FF;
  cursor: pointer;
}

.contact .fa-pinterest:hover {
  color: #cb2027;
  cursor: pointer;
}

.contact .fa-facebook:hover {
  color: #3b5998;
  cursor: pointer;
}

.contact .fa-twitter,
.contact .fa-pinterest,
.contact .fa-facebook {
  padding-left: 5px
}


/* MEDIA QUERIES */
@media only screen and (min-width: 1161px) {
  .contact {
    background-size: cover;
  }
}

@media only screen and (max-width: 1350px) {
  .learn .modal {
    padding-top: 5px;  
  }

  .learn .modal-body input, 
  .learn .modal-body textarea {
    height: 50%;
    font-size: 100%;
  }    

  .learn .modal-body textarea {
    height: 125px;
  }
}

@media only screen and (min-width: 1236px) {
  .about {
    background-size: cover;
  }
}

@media only screen and (min-width: 1401px) {
  .bulk {
    background-size: cover;
  }
}

@media only screen and (min-width: 1801px) {
  .news {
    background-size: cover;
  }
}

@media only screen and (min-width: 2201px) {
  .learn {
    background-size: cover;
  }
}

@media only screen and (min-width: 2351px) {
  .protocol {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 30%;
  }
}